doctype html
html(lang="en")
    head
        include ../head/aframe_vr
        include ../head/head

    body
        a-scene&attributes(add.conf.a_scene)

            //- UPLOAD ALL ASSETS FROM "MODELS" FOLDER
            a-assets 
                each model, key in add.models
                    case model.ext
                        default
                            a-asset-item(id=key+"_"+model.title, src="/"+model.local)

            //- PLAYER
            a-entity(
                id="rig"
                rotation=""
                position='3 1.6 3'
                )
                a-camera(id="vr-camera")
                a-entity#vr-controllers-wrapper
                    a-entity(laser-controls='hand: left' oculus-touch-controls='hand: left' raycaster='objects: .vr-link; far: 100' haptics='events: raycaster-intersection; dur: 70; force: 0.4' vr-controller='')
                    a-entity(laser-controls='hand: right' oculus-touch-controls='hand: right' raycaster='objects: .vr-link; far: 100' haptics='events: raycaster-intersection; dur: 70; force: 0.4' vr-controller='')
                a-entity(look-controls='' wasd-controls='acceleration:100')


            //- ENV

            a-sky&attributes(add.conf.a_sky)

            - var pos_offset = {"x": 0, "y": 2.2, "z": 1}

            a-entity(rotation="0 90 0" position="-3 0 0")
                a-plane(
                    width="1000" 
                    rotation="-90"
                    height="1000" 
                    position="0 0 0"
                    material="src: /dist/textures/asphalt.jpg; repeat: 400 400"
                )
                each val, key in add.models
                    a-entity(position=pos_offset.x+" "+(pos_offset.y - 2)+" "+pos_offset.z)
                        a-cylinder(color='grey' height='0.2' radius='1.5' material="src: /dist/textures/marble.jpg;")
                    a-entity(position=pos_offset.x+" "+pos_offset.y+" "+pos_offset.z)
                        
                        case val.ext
                            default
                                a-gltf-model(
                                    class="vr-link",
                                    src="#"+key+"_"+val.title,
                                    autoscale="5",
                                    animation-mixer
                                )&attributes(add.conf.models)

                        a-entity(
                            position="0 2.5 2.5",
                            rotation="25 0 0"
                        )
                            a-text(
                                value="FILE: "+val.filename,
                                width="6",
                                align="center",
                                position="0 0.5 0"
                                font=add.conf.a_text.font
                            )
                            a-text(
                                value=`SIZE (KB): ${Math.round((val.size / (1024)) * 100) / 100}`,
                                width="5",
                                align="center",
                                position="0 0 0"
                                font=add.conf.a_text.font
                            )
                    - pos_offset.x += 5
