doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- SEO
        title aframe 3dmodel viewer

        //- AFRAME
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>

        //- AFRAME EXTRAS
        <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>

        //- haptics for aframe
        script(src='https://unpkg.com/aframe-haptics-component/dist/aframe-haptics-component.min.js')

        //- STYLESHEET
        link(rel="stylesheet", href="dist/css/build.css" type="text/css")

        //- APP
        <script src="dist/js/build.bundle.js"></script>
    body
        a-scene&attributes(aframe.scene.VR)

            //- UPLOAD ALL ASSETS FROM "MODELS" FOLDER
            a-assets 
                each model, key in models
                    case model.ext 
                        default
                            a-asset-item(id=key+"_"+model.title, src="/"+model.local)

            //- PLAYER
            a-entity#vr-camera-wrapper(kinematic-body='' rotation="" position='3 0 3')
                a-camera#vr-camera
                a-entity#vr-controllers-wrapper
                    a-entity(laser-controls='hand: left' oculus-touch-controls='hand: left' raycaster='objects: .vr-link; far: 100' haptics='events: raycaster-intersection; dur: 70; force: 0.4' vr-controller='')
                    a-entity(laser-controls='hand: right' oculus-touch-controls='hand: right' raycaster='objects: .vr-link; far: 100' haptics='events: raycaster-intersection; dur: 70; force: 0.4' vr-controller='')
                a-entity(look-controls='' wasd-controls='acceleration:100' vr-controller='')


            //- ENV

            a-sky(material="color: #fcd6ff")

            - var pos_offset = {"x": 3, "y": 1, "z": 0}

            a-entity(rotation="0 90 0" position="-3 0 0")
                each val, key in models
                    a-entity(position=pos_offset.x+" "+(pos_offset.y - 2)+" "+pos_offset.z)
                        a-cylinder(color='grey' height='0.2' radius='1.5')
                    a-entity(position=pos_offset.x+" "+pos_offset.y+" "+pos_offset.z)
                        
                        case val.ext
                            default
                                a-gltf-model(
                                    class="vr-link",
                                    src="#"+key+"_"+val.title,
                                    autoscale="5",
                                    animation-mixer
                                )&attributes(aframe.animations)

                        a-entity(
                            position="0 2.5 2.5",
                            rotation="25 0 0"
                        )
                            a-text(
                                value="FILE: "+val.filename,
                                width="6",
                                align="center",
                                position="0 0.5 0"
                                font=aframe.text.font
                            )
                            a-text(
                                value=`SIZE (KB): ${Math.round((val.size / (1024)) * 100) / 100}`,
                                width="5",
                                align="center",
                                position="0 0 0"
                                font=aframe.text.font
                            )
                    - pos_offset.x += 5

                //- CREDENTIALS (soon)
